@import "./component/vars";
@import "./component/fonts";
@import "./component/reset";
@import "./component/libs";
@import "./component/global";
@import "./component/mixin";
@import "./component/header";
@import "./component/footer";
@import "./component/about";
@import "./component/works";
@import "./component/technologies";

body {
  background-color: $bodyBackgtoundColor;
  @extend %default__font;
  a {
    color: white;
  }
}

section {
  position: relative;
  &:not(:last-child)::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    height: 1px;
    margin: 0 auto;
    background-color: $defultColorText;
  }
}
