@import "./component/vars";
@import "./component/fonts";
@import "./component/reset";
@import "./component/libs";
@import "./component/global";
@import "./component/header";
@import "./component/mixin";

 body {
    background-color: $bodyBackgtoundColor;
    @extend %default__font

 }


.active {
   opacity: 1;
   visibility: visible;
   transform: translateX(0);


}