@import "./component/vars";
@import "./component/fonts";
@import "./component/reset";
@import "./component/libs";
@import "./component/global";
@import "./component/header";
@import "./component/mixin";
@import "./component/footer";

body {
  background-color: $bodyBackgtoundColor;
  @extend %default__font;
  a {
    color: white;
  }
}

