<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__left">
        <h1 class="header__title">Меня зовут <br />Рустем</h1>
        <br /> <br>
        <p class="header__text">Это мой сайт <br />портфолио</p>
      </div>
      <a class="header__link" href="#">
        <img class="header__img" src="../images/Header__logo.png" alt="logo" />
      </a>
      <button class="header__button" type="submit"><img src="../images/Burger.png" alt=""></button>

    </div>
    <div class="header__right">
        <button class="header__rigth-button"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></button>

        <ul class="header__menu">
          <li class="header__menu-item">
            <a href="#">Главная</a>
          </li>
          <li class="header__menu-item">
            <a href="#">Обо мне</a>
          </li>
          <li class="header__menu-item">
            <a href="#">Работы</a>
          </li>
          <li class="header__menu-item">
            <a href="#">Контакты</a>
          </li>
        </ul>
    </div>
  </div>
</header>
