<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.min.css" />
    <script src="./js/main.min.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <div class="header__left">
            <h1 class="header__title">Меня зовут <br />Рустем</h1>
            <br />
            <p class="header__text">Это мой сайт <br />портфолио</p>
          </div>
            <a href="#" class="header__link">
              <img 
                class="header__img"
                src="../images/Header__logo.png"
                alt="logo"
              />
            </a>
        </div>
      </div>
    </header>
