<section class="technologies" id="technologies">
    <div class="container">
        <div class="technologies__inner">
            <h2 class="technologies__title section__title">Технологии которыми я пользуюсь</h2>
            <div class="technologies__content">
                <img class="technologies__img" src="../images/html.png" alt="img" >
                <img class="technologies__img" src="../images/css.png" alt="img" >
                <img class="technologies__img" src="../images/sass.png" alt="img" >
                <img class="technologies__img" src="../images/figma.png" alt="img" >
                <img class="technologies__img" src="../images/visualstudio.png" alt="img" >
                <img class="technologies__img" src="../images/javascript.png" alt="img" >
                <img class="technologies__img" src="../images/github.png" alt="img" >
                <img class="technologies__img" src="../images/google.png" alt="img" >
                <img class="technologies__img" src="../images/npm.png" alt="img" >
                <img class="technologies__img" src="../images/opera.png" alt="img" >
            </div>
        </div>
    </div>
</section>