<section class="works" id="works">
  <div class="container">
    <div class="works__inner">
      <h2 class="works__title section__title">Мои проекты</h2>
      <div class="works__card">
        <img class="works__img" src="./images/site-1.avif" alt="img" />
        <div class="works__info">
          <p class="works__text">
            Это один из моих первых написанных сайтов, конкретно этот сайт писал
            для жены. Тут я использовал swiper через npm. 
          </p>
          <a class="works__link" href="https://lokisonofodin.github.io/beauty-nail/">Подробнее</a>
        </div>
      </div>
      <div class="works__card revers">
        <img class="works__img" src="./images/site-2.avif" alt="img" />
        <div class="works__info">
          <p class="works__text">
            Этот сайт писал по знакомству, заказчик просил строго по дизайну...
            Из инетересного использовал axios и телеграмм бота для приёма заявок.
          </p>
          <a class="works__link" href="https://lokisonofodin.github.io/work-benifit/">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>
