.header {
  background-color: $defultBackground;
  color: $defultColorText;

  &__wrap {
    display: flex;
    justify-content: center;
    @include addaptive-value(column-gap, 200, 150, 1);
    row-gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    overflow: scroll;
    margin-top: 1rem;
    position: relative;
  }
  &__left {
    max-width: 12.5rem;
    overflow: hidden;
    margin-left: 1.5rem;
  }

  &__title {
    @extend %header__font;
  }

  &__text {
    @extend %header__text;
  }

  &__img {
    @include addaptive-value(max-width, 256, 180, 1);
    width: 100%;
    object-fit: contain;
    margin-left: 1.5rem;

  }
  &__button {
    @include addaptive-value(width, 40, 35, 1);
    position: fixed;
    @include addaptive-value(right, 40, 20, 1);
    @include addaptive-value(top, 40, 30, 1);
    padding: 0;
    transition: all ease-in-out 0.4s;
    z-index: 3;
    &:active {
      transform: scale(-80%);
    }
  }

  &__rigth-button {
    z-index: 5;
    position: sticky;
    left: 80%;
    @include addaptive-value(right, 40, 20, 1);
    @include addaptive-value(top, 40, 30, 1);
    svg {
      width: 50px;
      height: 50px;
      fill: white;
      transition: all ease-in-out 0.4s;
      &:active {
        transform: scale(-70%);
      }
    }
  }

  &__right {
    z-index: 4;
    position: fixed;
    background-color: rgb(0, 0, 0);
    @include addaptive-value(width, 490, 300, 1);
    overflow-y: scroll;
    max-height: 40rem;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all ease 0.5s;
    -webkit-box-shadow: -8px 8px 29px 6px rgba(255, 255, 255, 0.38);
    -moz-box-shadow: -8px 8px 29px 6px rgba(255, 255, 255, 0.38);
    box-shadow: -8px 8px 29px 6px rgba(255, 255, 255, 0.38);
  }
  &__right-wrap {
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__menu {
    width: 100%;
  }

  &__menu-item {
    margin-bottom: 2.5rem;
    padding-bottom: 1rem;
    position: relative;
    a {
      padding: 1.25rem 3.75rem;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 60%;
      margin: 0 auto;
      height: 1px;
      background: #ffffff;
    }
  }
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
