.technologies {
    margin-top: 2rem;
    margin-bottom: 3.5rem;

    &__title {
        text-align: center;
        @extend %title__font;
        margin-bottom: 2rem;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        @include addaptive-value(max-width, 600, 200, 1);
    }

    &__img {
        @include addaptive-value(width, 100, 60, 1);
        margin: .5rem;
    }
}