@import './mixin';

$headerBackground: #000;
$headerColor: #ffffff;

%header__font {
    font-family: "Kelly Slab", cursive;
    @include addaptive-value(font-size, 36, 24, 1);
    font-style: normal;
    font-weight: 400;
    line-height: 110%
}
%header__text {
    font-family: "Kelly Slab", cursive;
    @include addaptive-value(font-size, 32, 20, 1);
    font-style: normal;
    font-weight: 400;
    line-height: 130%
}

%title__font {
    font-family: 'PT Serif', serif;
    @include addaptive-value(font-size, 32, 24, 1);
    font-style: italic;
    font-weight: 700;
    line-height: 130%;
}

%default__font {
    font-family: 'PT Serif', serif;
    @include addaptive-value(font-size, 24, 20, 1);
    font-style: italic;
    font-weight: 400;
    line-height: 110% 
}