@import './mixin';

$defultBackground: #000;
$headerColor: #ffffff;
$bodyBackgtoundColor:  #BCBCBC;

%header__font {
    font-family: "Kelly Slab", cursive;
    @include addaptive-value(font-size, 36, 24, 1);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    color: white;
}
%header__text {
    font-family: "Kelly Slab", cursive;
    @include addaptive-value(font-size, 32, 20, 1);
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: white;
}

%title__font {
    font-family: 'PT Serif', serif;
    @include addaptive-value(font-size, 32, 24, 1);
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

%default__font {
    font-family: 'PT Serif', serif;
    @include addaptive-value(font-size, 24, 20, 1);
    font-style: italic;
    font-weight: 400;
    line-height: 110%;
    color:#000
}

%footer__title {
    font-family: 'PT Serif', serif;
    @include addaptive-value(font-size, 22, 18, 1);
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: white;
}


%footer__font {
    font-family: 'PT Serif', serif;
    @include addaptive-value(font-size, 20, 16, 1);
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: white;
}


%footer__copyright {
    font-family: 'PT Serif', serif;
    @include addaptive-value(font-size, 18, 14, 1);
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    color: white;
}
